<!DOCTYPE html>

<html>

<head>
  <title>About </title>
  <link rel = "icon" href = "/images/weather.png">
  <link rel = "stylesheet" href = "/css/styles.css" >
</head>

<body>

  <div class="main-content">
    {{>headers}}
    <p id="name">This site is created by Ansh Tandon</p>
    <img  src="./images/me.jpeg">
  </div>
    {{>footer}}
</body>

</html>